h1{
    color: #798252;
    text-align: center;
    background-color: #1F2937;
    padding: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #aab3b9;
}

p{
    color: #798252;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}